In [21]:
import requests
import pandas as pd
import config
import numpy as np
import matplotlib.pyplot as plt
import sqlite3
from assignment1 import *
import re
import time
from plotly import __version__
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot
import plotly.graph_objs as go
init_notebook_mode(connected=True)
client = Socrata("data.cityofchicago.org",config.key)
conn = sqlite3.connect('db.db')
c = conn.cursor()

## Scope of Analysis, Summer 2016
In the following analyses, we use data from the following datasets, focussing specifically on the months of June, July, and August of 2016:
- [311 Graffiti Removal Requests](https://data.cityofchicago.org/Service-Requests/311-Service-Requests-Graffiti-Removal/hec5-y4x5)
- [311 Vacant and Abandoned Buildings Requests](https://data.cityofchicago.org/Service-Requests/311-Service-Requests-Vacant-and-Abandoned-Building/7nii-7srd)
- [311 Alley Light Out Requests](https://data.cityofchicago.org/Service-Requests/311-Service-Requests-Alley-Lights-Out/t28b-ys7j)
- [American Community Survey 2016, US Census](https://www.census.gov/data/developers/data-sets/acs-5year.html)

## Initial Data Exploration

In [11]:
pd.read_sql_query('''
SELECT type_of_service_request, block_group, avg(days_to_complete)
FROM combined_data
WHERE type_of_service_request = 'Alley Light Out'
GROUP BY type_of_service_request, block_group
''',conn).

  type_of_service_request  block_group  avg(days_to_complete)
0         Alley Light Out            1              57.012274
1         Alley Light Out            2              57.888109
2         Alley Light Out            3              60.440569
3         Alley Light Out            4              54.817701
4         Alley Light Out            5              50.821212
5         Alley Light Out            6              44.850000
6         Alley Light Out            7              40.047619

In [22]:
data = [go.Bar(
            x=['giraffes', 'orangutans', 'monkeys'],
            y=[20, 14, 23]
    )]

iplot(data, filename='basic-bar')